[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "dotbot-pip"]
	path = dotbot-pip
	url = https://github.com/sobolevn/dotbot-pip.git
[submodule "dotbot-apt"]
	path = dotbot-apt
	url = https://github.com/dein0s/dotbot_plugin_aptget.git
